
    a.save {
        color: #542eff;
    }

    a.save:hover {
        background-color: rgb(253 200 0);
    }

    .teached {
        background-color: #32cf3a;
        padding: 0 4px 1px 4px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        margin-right: 3px;
    }

    .frame-avatar {
        width: 150px;
        height: 150px;
        overflow: hidden;
    }

    .avatar {
        min-width: 100%;
        min-height: 100%;
    }

    .btn-grey {
        background-color: #f5f4f7;
        color: #542eff;
    }

    .edit {
        color: #542eff;
        background-color: transparent;
        border: 0;
        padding: 5px 10px;
    }

    .edit:hover {
        background-color: #0000000d;
        border-radius: 0.25rem;
    }

    .edit-address {
        color: #542eff;
        background-color: transparent;
        border: 0;
        padding: 5px 10px;
    }

    .edit-address:hover {
        background-color: #0000000d;
        border-radius: 0.25rem;
    }

    .tare-edit {
        width: 100%;
        height: auto;
        overflow-y: auto;
        resize: none;
        background-color: #f0f2f5;
        border: 1px solid #ccd0d5;
        border-radius: 6px;
        font-size: 15px;
        padding: 8px;
    }

    .btn-update {
        display: inline-block;
        background-color: #f0f2f5;
        border: 0;
        padding: 7px 12px;
        margin-right: 5px;
        border-radius: 0.25rem;
        font-size: 15px;
    }

    .hide {
        display: none;
    }

    /* .show {
        display: block;
    } */